@use '../../../static/scss/index';
@use '../../../static/scss/variables';

.link {
  &__title {
    width: 100%;
    min-height: 40px;
    padding: 8px 11px 0;
    display: flex;
    gap: 4px;
    cursor: pointer;
    &__text {
      width: 223px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
      padding-bottom: 8px;
    }
    &__icon svg {
      transform: rotate(0);
    }
    &:hover &__text {
      color: variables.$text-green;
    }
    &:hover &__icon svg {
      transform: rotate(90deg);
      transition: all 200ms ease-out;
      & path {
        stroke: variables.$text-green;
      }
    }
  }
  &__sublinks {
    display: none;
    width: 100%;
    &__item {
      height: 46px;
      width: 100%;
      padding: 12px 13px;
      line-height: 22px;
      border-radius: 3px;
      font-size: 16px;
      font-weight: 400;
      & a {
        color: variables.$text-gray;
      }
      &:hover {
        background-color: variables.$background-light-gray;
      }
      &:active {
        background-color: rgba(37, 150, 9, 0.15);
        & a {
          color: variables.$text-green;
        }
      }
    }
  }
  &:hover &__sublinks {
    display: block;
  }
  @media (max-width: 660px) {
    &__title {
      justify-content: space-between;
      &__text {
        width: calc(100% - 4px - 7px);
      }
    }
  }
}
